.DS_Store
.sass-cache/
/nbproject/
.mypy_cache/
node_modules/
fabfile*
.phpcs.xml.dist
.travis.yml
bin/
vendor/
phpunit.xml.dist
.venv/
.focalfossa/
tests/*
!e2e/
__pycache__/
.playwright-screenshots/
